@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");
* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #4d2ed9;
}

section {
  padding: 5rem 10%;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  text-transform: capitalize;
  color: #030303;
}

.heading-link {
  text-align: center;
  background: url(./images/heading-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.heading-link h3 {
  font-size: 4rem;
  text-transform: capitalize;
  color: #030303;
}

.heading-link p {
  font-size: 2rem;
  line-height: 2;
  color: #777;
}

.heading-link p a {
  color: #4d2ed9;
}

.heading-link p a:hover {
  text-decoration: underline;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  border: 0.1rem solid #4d2ed9;
  background: #cac0f8;
  color: #4d2ed9;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background: #4d2ed9;
  color: white;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.header .logo {
  margin-right: auto;
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #030303;
  font-weight: bolder;
}

.header .logo i {
  color: #4d2ed9;
}

.header .navbar {
  position: relative;
}

.header .navbar #close-navbar {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  color: #030303;
  display: none;
}

.header .navbar #close-navbar:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header a {
  margin-right: 2rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: #030303;
}

.header a:hover {
  color: #4d2ed9;
}

.header .icons div {
  cursor: pointer;
  font-size: 2.5rem;
  color: #030303;
  margin-left: 1.5rem;
}

.header .icons div:hover {
  color: #4d2ed9;
}

.header #menu-btn {
  display: none;
}

.account-form {
  position: fixed;
  top: 0;
  right: -105%;
  width: 35rem;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  z-index: 1200;
  text-align: center;
  padding: 2rem;
}

.account-form.active {
  right: 0;
  -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
}

.account-form #close-form {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 4rem;
  cursor: pointer;
  color: #4d2ed9;
}

.account-form #close-form:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.account-form form {
  border: 0.1rem solid #4d2ed9;
  padding: 2rem;
  display: none;
}

.account-form form.active {
  display: block;
}

.account-form h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #030303;
  padding-bottom: .5rem;
  text-transform: uppercase;
}

.account-form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border: 0.1rem solid #4d2ed9;
  font-size: 1.6rem;
  margin: .7rem 0;
}

.account-form .flex {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account-form .flex label {
  font-size: 1.5rem;
  color: #777;
  cursor: pointer;
  gap: 5;
}

.account-form .flex a {
  font-size: 1.5rem;
  color: #777;
  cursor: pointer;
  margin-left: 3rem;
}

.account-form .flex:hover {
  text-decoration: underline;
  color: #4d2ed9;
}

.account-form .flex .btn {
  width: 100%;
}

.account-form .flex .buttons .btn {
  margin: 0 .5rem;
}

.account-form .flex.active {
  background: #4d2ed9;
  color: white;
}

.home {
  padding: 0;
}

.home .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60rem;
  background-size: cover !important;
  background-position: center !important;
}

.home .content {
  width: 50rem;
}

.home .content h3 {
  font-size: 5.2rem;
  text-transform: capitalize;
  color: #030303;
  color: #4d2ed9;
}

.home .content p {
  font-size: 1.6rem;
  line-height: 2;
  color: #777;
  color: white;
  padding: 1rem 0;
}

.swiper-pagination-bullet-active {
  background: #4d2ed9;
}

.subjects .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}

.subjects .box {
  padding: 1rem 1rem;
  text-align: center;
  border: 0.1rem solid #4d2ed9;
  background: #907af1;
  cursor: pointer;
}

.subjects .box:hover {
  background: #4d2ed9;
}

.subjects .box:hover h3 {
  color: white;
}

.subjects .box:hover p {
  color: #444;
}

.subjects .box img {
  height: 11rem;
  margin-bottom: .5rem;
}

.subjects .box h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #030303;
  padding: .5rem 0;
}

.subjects .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}

.home-course .slide {
  text-align: center;
  position: relative;
  background: #cac0f8;
  overflow: hidden;
}

.home-course .slide:hover .content {
  bottom: 0;
}

.home-course .slide .image {
  padding: 2rem;
}

.home-course .slide .image img {
  width: 100%;
  margin-bottom: 1.5rem;
}

.home-course .slide .image h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #030303;
}

.home-course .slide .content {
  position: absolute;
  bottom: -100%;
  right: 0;
  left: 0;
  background: #4d2ed9;
  padding: 2rem 3rem;
}

.home-course .slide .content h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #030303;
  color: white;
}

.home-course .slide .content p {
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  color: #444;
}

.home-course .slide .content .btn:hover {
  background: #030303;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .content .about-title {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #030303;
}

.about .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  padding: 1rem;
}

.about .icons-container {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.about .icons {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 16rem;
          flex: 1 1 16rem;
  text-align: center;
  padding: 3rem 2rem;
  border: 0.1rem solid #4d2ed9;
}

.about .icons img {
  height: 7rem;
}

.about .icons h3 {
  padding: .5rem 0;
  font-size: 2rem;
  text-transform: capitalize;
  color: #030303;
}

.about span {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}

.teachers .slide {
  text-align: center;
  width: 30rem;
}

.teachers .slide:hover .image img {
  background: #4d2ed9;
}

.teachers .slide:hover .image .share {
  bottom: 0;
}

.teachers .slide .image {
  position: relative;
  overflow: hidden;
}

.teachers .slide .image img {
  background: #cac0f8;
  width: 100%;
}

.teachers .slide .image .share {
  position: absolute;
  bottom: -10rem;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 2rem;
}

.teachers .slide .image .share a {
  font-size: 3rem;
  margin: 0 1rem;
  color: white;
}

.teachers .slide .image .share a:hover {
  color: #4d2ed9;
}

.teachers .slide .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.teachers .slide .content h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #030303;
}

.teachers .slide .content span {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}

.footer {
  background: #cac0f8;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  text-transform: capitalize;
  color: #030303;
  padding: 1rem 0;
}

.footer .box-container .box h3 i {
  color: #4d2ed9;
}

.footer .box-container .box .share {
  margin-bottom: 1rem;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  background-color: #4d2ed9;
  color: white;
  margin-right: .3rem;
  text-align: center;
}

.footer .box-container .box .share a:hover {
  background-color: #030303;
}

.footer .box-container .box .link {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  padding: .5rem 0;
  display: block;
}

.footer .box-container .box .link:hover {
  color: #4d2ed9;
  text-decoration: underline;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  padding: 1rem 0;
}

.footer .box-container .box .email {
  width: 100%;
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  border: 0.1rem solid #4d2ed9;
  margin-bottom: 1rem;
}
/*# sourceMappingURL=style.css.map */