@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: all .2s linear;
}

img{
  user-select:none ;

}
$main: #4d2ed9;
$light-green:#cac0f8;
$light-color:#777;
$light-white:#444;
$black:rgb(3, 3, 3);
$boeder:.1rem solid $main;
$border-shadow:0 .5rem 1rem rgba(0,0,0, .1);

@mixin grid  ($val){
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 2rem;    
}
@mixin titleText($titleSize) {
    font-size: $titleSize;
    text-transform: capitalize;
    color: $black;    
}
@mixin graphText($graphSize) {
    font-size: $graphSize;
    line-height: 2;
    color: $light-color;    
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
  }
  
  html::-webkit-scrollbar {
    width: 1rem;
  }
  
  html::-webkit-scrollbar-track {
    background: transparent;
  }
  
  html::-webkit-scrollbar-thumb {
    background: #4d2ed9;
  }
  
  section {
    padding: 5rem 10%;
  }
.heading{
  text-align: center;
  margin-bottom: 3rem;
  @include titleText(3.5rem)

}

.heading-link{
  text-align: center;
  background: url(./images/heading-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;

  h3{
    @include titleText(4rem);
  }
  p{
    @include graphText(2rem);

    a{
      color: $main;

      &:hover{
        text-decoration: underline;

      }
    }
  }
  

}

.btn{
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  border: $boeder;
  background: $light-green;
  color: $main;
  cursor: pointer;
  text-align: center;

  &:hover{
    background: $main;
    color: white;
  }

}

.header{
   position: sticky;
   top: 0; left: 0; right: 0;
   background: white;
   box-shadow: $border-shadow;
   padding: 2rem 10%;
   display: flex;
   align-items: center;
   z-index: 1000;

   .logo{
       margin-right: auto;
       @include titleText(2.5rem);
       font-weight: bolder;
       
       i{
        color:$main;
       }     

   }

   .navbar{
     position: relative;

     #close-navbar{
       position: absolute;
       top:1.5rem; right:2rem;
       font-size: 4rem;
       cursor: pointer;
       color:$black;
       display: none;

        &:hover{
          transform: rotate(90deg);
        }
      }
    }   
  
   a {
       margin-right: 2rem;
       @include titleText(2rem);

       &:hover{
        color:$main;
       }
   }

   .icons div{
       cursor: pointer;
       font-size: 2.5rem;
       color: $black;
       margin-left: 1.5rem;

       &:hover{
        color:$main;
       }     
   }

   #menu-btn{
       display: none;
   }



}
.account-form{
  position: fixed;
  top: 0; right:-105%;
  width: 35rem;
  background: white;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  justify-content: center;
  height: 100vh;
   
  z-index: 1200;
  text-align: center;
  padding: 2rem;
   
  &.active{
    right: 0;
    box-shadow: 0 0 0 100vw rgba( 0,0,0,.8);
  }

  #close-form{

    position: absolute;
    top:1.5rem; right:2.5rem;
    font-size: 4rem;
    cursor: pointer;
    color:$main;
    
    // display: none;

     &:hover{
       transform: rotate(90deg);
     }

  }
  form{
    border: $boeder;
    padding: 2rem;
    display: none;

    &.active{
      display: block
    }
     
  }

  h3{
     @include titleText(2.5rem);
    padding-bottom: .5rem;
    text-transform: uppercase;
  }

  .box{
    width: 100%;
    padding: 1.2rem 1.4rem;
    border: $boeder;
    font-size: 1.6rem;
    margin: .7rem 0;

  }

  .flex{
    padding : 1rem 0 ;
    display: flex;
    align-items: center;


    label{
      font-size: 1.5rem;
      color: $light-color;
      cursor: pointer;
      gap: 5;
    }

    a{
      font-size: 1.5rem;
      color: $light-color;
      cursor: pointer;
      margin-left: 3rem;
    }
    &:hover{
      text-decoration: underline;
      color: $main;

    }


    .btn{
      width: 100%;
    }

    .buttons .btn{
      margin: 0 .5rem;
    }

    &.active{
      background: $main;
      color: white;
    }

  }
}


.home{
  padding: 0;

  .slider{
    display: flex;
    align-items: center;
    height: 60rem;
    background-size: cover !important;
    background-position: center !important;
     
  }
  .content{
    width: 50rem;

    h3{
      @include titleText(5.2rem);
       color: $main;
    }

    p{
       @include graphText(1.6rem);
       color: white;
       padding: 1rem 0;

    }
  }  
   
}

.swiper-pagination-bullet-active{
  background: $main;

}

.subjects{

  .box-container{
    @include grid(16rem);

  }

  .box{
    padding: 1rem 1rem;
    text-align: center;
    border: $boeder;
    background: #907af1;
    cursor: pointer;

    &:hover{
      background: $main ;

      h3{
        color: white;
      }
      p{
        color: $light-white;
      }
    }

    img{
      height: 11rem;
      margin-bottom: .5rem;
    }
    h3{
      @include titleText(1.5rem);
      padding: .5rem 0;
    }
    p{
      @include graphText(1.5rem)
    }
  }

}

.home-course{

  .slide{
     text-align: center;
     position: relative;
     background: $light-green;
     overflow:hidden;

     &:hover .content{
        bottom: 0;
     }

     .image{
        padding:2rem;

        img{
           width: 100%;
           margin-bottom: 1.5rem;
        }

        h3{
           @include titleText(2rem);
        }
     }

     .content{
        position: absolute;
        bottom:-100%; right:0; left:0;
        background: $main;
        padding:2rem 3rem;

        h3{
           @include titleText(2rem);
           color:white;
        }

        p{
           padding:1rem 0;
           @include graphText(1.5rem);
           color:$light-white;
        }

        .btn:hover{
           background: $black;
        }
     }
  }
}



.about{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;


     .image {
       flex: 1 1 40rem;

       img{
         width:100% ;
       }
     }


     .content{
       flex: 1 1 40rem;

       .about-title{
         @include titleText(2.5rem);
       }
       p{
         @include graphText(1.5rem);
         padding: 1rem;
       }
     }

     .icons-container{
       margin-top: 1rem;
      
       
       display: flex;
       flex-wrap: wrap;
       gap: 1.5rem;
     }
     .icons{
       flex: 1 1 16rem;
       text-align: center;
       padding: 3rem 2rem;
       border: $boeder;
      

       img{
         height: 7rem;
       }


       h3{
         padding: .5rem 0;
         @include titleText(2rem);

       }
     }
     span{
       @include graphText(1.5rem);
     }

}

.teachers{

  .slide{
     text-align: center;
     width: 30rem;

     &:hover{

        .image{
           img{
              background: $main;
              
           }

           .share{
              bottom: 0;
           }
        }
     }

     .image{
        position: relative;
        overflow: hidden;

        img{
           background: $light-green;
           width: 100%;
        }

        .share{
           position: absolute;
           bottom: -10rem; left:0; right:0;
           background: rgba(0,0,0,.8);
           padding:2rem;

           a{
              font-size: 3rem;
              margin:0 1rem;
              color:white;

              &:hover{
                 color:$main;
              }
           }
        }
     }

     .content{
        display: flex;
        padding-top: 1rem;
        align-items: center;
        justify-content: space-between;

        h3{
           @include titleText(2rem);
        }

        span{
           @include graphText(1.5rem);
        }
     }
  }
}


.reviews{

  .slide{
     text-align: center;

     p{
        @include graphText(1.5rem);
        position: relative;
        background: $light-green;
       
        margin-bottom: 3rem;
        padding:2rem;

        &::before{
           content: '';
           position: absolute;
           bottom:-1.2rem; left:50%;
           transform: translateX(-50%) rotate(45deg);
           background: $light-green;
           
          
           height: 2rem;
           width: 2rem;
        }
     }

     img{
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
     }

     h3{
        @include titleText(2.2rem);
        padding:.5rem 0;
     }

     .stars{
        font-size: 1.2rem;
        color:$main;
     }
  }
}

.course{

  .box-container{
     @include grid(40rem);

     .box{

        &:hover .image img{
           transform: scale(1.1);
        }

        &.hide{
           display: none;
        }

        .image{
           height: 25rem;
           overflow: hidden;
           position: relative;

           img{
              height: 100%;
              width: 100%;
              object-fit: cover;
           }

           h3{
              @include titleText(1.5rem);
              position: absolute;
              top:1rem; left:1rem;
              padding:.5rem 1.5rem;
              background: $main;

           }
        }

        .content{
           padding:2rem;
           text-align: center;
           border:$boeder;

           h3{
              @include titleText(2rem);
           }

           p{
              padding:1rem 0;
              @include graphText(1.6rem);
           }

           .icons{
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-top: 2rem;
              padding-top: 2rem;
              border-top: $boeder;

              span{
                 @include titleText(1.5rem);

                 i{
                   color: $main;
                    padding-right: .5rem;
                 }
              }
           }
        }
     }
  }

  .load-more{
     margin-top: 2rem;
     text-align: center;
  }
}









.footer{
  background: $light-green;
   

   

  .box-container{
    @include grid(25rem);

    .box{
      
      h3{
        @include titleText(2.2rem);
        padding: 1rem 0 ;

        i{
          color: $main;
        }

      }
      .share{
        margin-bottom : 1rem;
        a{
          height: 4.5rem;
          width: 4.5rem;
          line-height: 4.5rem;
          font-size: 1.7rem;
          background-color: $main;
          color: white;
          margin-right:.3rem;
          text-align: center;

          &:hover{
            background-color: $black

          }


        }

      }

      .link{
        @include graphText(1.5rem);
        padding:.5rem 0;
        display: block;

        &:hover{
           color: $main;
           text-decoration: underline;

        }
      }
      p{
        @include graphText(1.5rem);
        padding: 1rem 0;

      }

      .email{

        width: 100%;
        padding: 1.2rem 1.4rem;
        font-size: 1.6rem;
        border: $boeder;
        margin-bottom: 1rem;
      }

    }
  }
}




 